<div class="container">
<h1>Editing Room</h1>
<%= link_to 'Home', root_url %> /
<%= link_to 'My Rooms', user_rooms_path %> /
<%= link_to 'Room Profile', room_profile_path(params[:id]) %> /
Edit
<hr />

<%= render 'form', room: @room %>


</div>

